<ion-header>
  <ion-toolbar>
    <ion-title>coupons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >

<!-- Card full set --> 
<ion-card>
  <!-- card header -->
  <ion-card-header>
    <ion-card-subtitle>Indian Cousine</ion-card-subtitle>
    <ion-card-title class='cardTitle'>Yellow Chili</ion-card-title>
  </ion-card-header>

<!-- card content -->
  <ion-card-content class='cardDesc'>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>

<!-- card button -->
  <ion-button expand="full" color="dark" (click)="edit()">
    <ion-icon name="copy"></ion-icon>
  </ion-button>
</ion-card>
<!--/Card full set --> 



<!-- Card full set --> 
<ion-card>
  <!-- card header -->
  <ion-card-header>
    <ion-card-subtitle>Indian Cousine</ion-card-subtitle>
    <ion-card-title class='cardTitle'>Yellow Chili</ion-card-title>
  </ion-card-header>

<!-- card content -->
  <ion-card-content class='cardDesc'>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>

<!-- card button -->
  <ion-button expand="full" color="dark" [routerLink]="['/coupons']">
    <ion-icon name="copy"></ion-icon>
  </ion-button>
</ion-card>
<!--/Card full set --> 




<!-- Card full set --> 
<ion-card>

  
  <!-- card header -->
  <ion-card-header>
    <ion-card-subtitle>Indian Cousine</ion-card-subtitle>
    <ion-card-title class='cardTitle'>Yellow Chili</ion-card-title>
  </ion-card-header>

<!-- card content -->
  <ion-card-content class='cardDesc'>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>

<!-- card button -->
  <ion-button expand="full" color="dark" [routerLink]="['/coupons']">
    <ion-icon name="copy"></ion-icon>
  </ion-button>
</ion-card>
<!--/Card full set --> 




<!-- Card full set --> 
<ion-card>
  <!-- card header -->
  <ion-card-header>
    <ion-card-subtitle>Indian Cousine</ion-card-subtitle>
    <ion-card-title class='cardTitle'>Yellow Chili</ion-card-title>
  </ion-card-header>

<!-- card content -->
  <ion-card-content class='cardDesc'>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>

<!-- card button -->
  <ion-button expand="full" color="dark" [routerLink]="['/coupons']">
    <ion-icon name="copy"></ion-icon>
  </ion-button>
</ion-card>
<!--/Card full set --> 




<!-- fab placed to the bottom end -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button [routerLink]="['/home']" >
    <ion-icon name="arrow-back"></ion-icon>
  </ion-fab-button>
</ion-fab>


</ion-content>
